// Footer styling sheet

// Import color scheme
@use "variables" as *;

// Smaller screens first
// footer styling
// starts off as flex-direction column
.footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(230, 229, 229);
  padding: 7rem 7.5vw 2.5rem 7.5vw;
  line-height: 1.25rem;

  // have all sections in footer have no bottom padding
  & section {
    padding-bottom: 0rem;
  }

  // footer title
  &__title {
    font-size: 2rem;
    padding-bottom: 2.5rem;
  }

  // footer sections
  // start off as full-width
  &__section {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    width: 84vw;
    justify-content: start;
    margin-bottom: 2rem;

    // section title
    &__title {
      font-size: 14px;
    }

    // section text, for newsletter text
    &__text {
      font-size: 14px;
      font-weight: normal;
    }

    // select sections within section
    &__selects {
      padding-top: 0.5rem;
    }

    // have order of sections differ on smaller screens
    // order will be: 3rd, 1st, 2nd child
    &:nth-child(3) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(1) {
      order: 2;
    }
  }

  // footer middle sections
  &__middle {
    display: flex;
    flex-direction: column;
  }

  // footer middle links
  &__link {
    font-size: 14px;
    font-weight: normal;
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &__link:visited {
      color: black;
      text-decoration: none;
    }

    &--small,
    &--small:visited {
      font-weight: bold;
      font-size: 12px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }

    &__arrow {
      width: 16px;
      align-items: center;
      height: auto;
    }
  }

  // footer bottom container
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    // footer bottom links container
    // starts off as flex-direction: row
    &__start {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }

    // footer bottom links list
    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
    }

    // footer bottom logo container
    &__end {
      display: flex;
      flex-grow: 0;
      align-items: center;

      // "Made in Berlin" text
      &__text {
        font-size: 12px;
        padding-right: 1rem;
      }
    }
  }

  // footer bottom logo
  &__icon {
    width: 29px;

    &--rotated {
      rotate: 90deg;
    }
  }

  // socials container within one of the footer middle sections
  &__socials {
    padding-top: 1rem;

    // socials list
    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      gap: 0.5rem;
    }
  }
}

// signup form existing in one of footer middle sectoins
.sign-up {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;

  // email form text input
  &__email {
    flex-grow: 1;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    padding: 0rem 1rem;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 2px;
    background-color: rgb(235, 235, 235);

    &:focus {
      border: 2px solid black;
    }
  }

  // email form button
  &__button {
    background-color: $palette-purple;
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    padding: 0 1.5rem;
    border: none;
    margin-left: -2px;
    object-fit: fill;
    height: 1.75rem;
  }

  // link wrapping email button
  &__link {
    flex-grow: 0;
  }
}

// select input existing in one of the footer middle section
.select {
  font-size: 12px;
  font-family: "Urbanist", sans-serif;
  padding: 0 0.5rem;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  width: 6rem;
  padding-right: 1rem;
  height: 1.5rem;
  font-weight: bold;

  // larger select input
  &--grow {
    width: 11rem;
  }
}

// remove standard social icon visited
// icons were imported from font-awesome
.social-links,
.social-links:visited {
  color: none;
}

// give facebook its color
.fa-facebook {
  font-size: 1.5rem;
  color: #1877f2;
}

// give twitter its color
.fa-x-twitter {
  font-size: 1.5rem;
  color: black;
}

// give youtube its color
.fa-youtube {
  font-size: 1.5rem;
  color: #cd201f;
}

// give instagram its color; thanks ChatGPT
.fa-instagram {
  font-size: 1.5rem; /* adjust size */
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// give tiktok its color; thanks ChatGPT
.fa-tiktok {
  font-size: 1.5rem;
  color: black;
  text-shadow: -2px 0px 4px #25f4ee, /* cyan glow */ 2px 0px 4px #fe2c55; /* pink/red glow */
}

// give discord its color
.fa-discord {
  font-size: 1.25rem;
  color: #7289da;
}

// change order of footer bottom icons on smaller screens
// order will be: item2, item3, item1
// that way text is to the right of logo
.item1 {
  order: 3;
  padding-left: 0.75rem;
}

.item2 {
  order: 1;
}

.item3 {
  order: 2;
}

// Medium size screens
@media screen and (min-width: 1024px) {
  // footer container
  .footer {
    // footer title
    // increase font-size
    &__title {
      font-size: 3rem;
      padding-bottom: 1rem;
    }

    // all footer sections
    // increase bottom padding
    & section {
      padding-bottom: 4rem;
    }

    // footer middle container
    // change flex-direction to row
    &__middle {
      flex-direction: row;
    }

    // footer middle section containers
    // change width so they can be organized in columns
    &__section {
      width: 24vw;
      margin-bottom: 0rem;

      // default ordering for sections
      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(1) {
        order: 1;
      }

      // last section in footer middle will fill the container
      &:last-child {
        max-width: 100vw;
        flex-grow: 1;
      }
    }

    // footer bottom container
    // change flex-direction to row
    &__bottom {
      flex-direction: row;
      gap: 0;

      // footer bottom link list
      // change flex-direction to row and add gap
      &__list {
        text-align: center;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }

  // decrease size of all social icons
  .fa-brands {
    font-size: 1.25rem;
  }

  // default ordering for footer bottom logo
  // that way text is to the left of logo
  .item1 {
    order: 1;
    padding-left: 0rem;
  }

  .item2 {
    order: 2;
  }

  .item3 {
    order: 3;
  }
}

// Larger screens
@media screen and (min-width: 1280px) {
  // footer container
  .footer {
    line-height: 1.5rem;
    &__section {
      // footer section title
      // increase font-size
      &__title {
        font-size: 19px;
      }
    }

    // footer section links
    //increase font-sizes
    &__link {
      font-size: 19px;
      &__arrow {
        width: 16px;
      }
      &--small {
        font-size: 12px;
      }

      &--small:visited {
        font-size: 12px;
      }
    }

    &__link:visited {
      font-size: 19px;
    }

    // socials list contained in one of footer middle sections
    // icnrease gap
    &__socials__list {
        gap: 0.75rem;
    }
  }

  // signup form contained in one of footer middle sections
  .sign-up {
    // email text input
    // increase font-size and padding
    &__email {
      font-size: 19px;
      padding: 0.5rem 1rem;
    }

    // email button input
    // increase font-size and overall button size
    &__button {
      font-size: 19px;
      padding: 0 1.5rem;
      height: 2.5rem;
    }
  }

  // increase size of social icons
  .fa-brands {
    font-size: 1.5rem;
  }
}
