// Header styling sheet

//Import color scheme
@use "variables" as *;

//smallest screens first
// Navbar styling
.nav {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);

  // Top navbar section container
  &__top {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px solid rgb(230, 229, 229);
    padding: 1rem 0rem;
    transition: border-bottom 1s ease;
    &.open {
      border-bottom: none;
    }
  }

  // Navbar home icon container
  &__start {
    padding-left: 1rem;
    width: 4.5rem;
    min-width: 4.5rem;
    flex-grow: 0;
    padding-right: 1rem;
  }

  &__start a:visited {
    text-decoration: none;
  }

  &__start a {
    text-decoration: none;
  }

  // Navbar home icon
  &__icon {
    width: 39px;
    color: black;
    padding-left: -1rem;

    // &--rotated {
    //   rotate: 90deg;
    // }

    transition: color 0.3s ease;
    &.open {
      color: white;
    }
  }

  // Navbar middle list container
  // Not visible on smaller screens
  &__middle {
    display: none;
  }

  // TODO: dropdown menu button styling for smaller screen
  &__menu {
    display: flex;

    &__button {
      background-color: transparent;
      color: black;
      font-size: 19px;
      font-family: "Urbanist", sans-serif;
      font-weight: bold;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      border: none;
      object-fit: fill;
      cursor: pointer;
      transition: color 0.3s ease;
      &.open {
        color: white;
      }
    }
  }

  .arrow {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  // Navbar account navigation container
  // Not visible on smaller screens
  &__end {
    display: none;
  }

  // Navbar bottom container
  &__bottom {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 1.75rem;
    padding: 1rem 0rem;
    align-items: center;
    overflow: auto;
    overflow-y: hidden;
  }

  // Navbar links
  &__item {
    padding: 0rem 0.5rem;
    text-decoration: none;
    font-size: 15px;
    color: black;

    &:visited {
      padding: 0rem 0.5rem;
      text-decoration: none;
    }

    &--purple,
    &--purple:visited {
      color: $palette-purple;
    }

    &--orange,
    &--orange:visited {
      color: $palette-orange;
    }

    &--small {
      font-size: 12px;

      &--orange,
      &--orange:visited {
        font-size: 12px;
        color: $palette-orange;
        padding-left: 1rem;
      }
    }
  }
}

// TODO: dropdown styling for smaller screens
.nav__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100%;
  // height: 1200px;
  background-color: $palette-purple;
  transform: translateY(-100%);
  transition: all 0.3s ease;
  &.open {
    transform: translateY(0);
  }

  .dropdown {
    &__list {
      padding-top: 3.75rem;
      padding-left: 1rem;
    }

    &__link {
      color: white;
      text-decoration: none;
      &--small {
        font-size: 13px;
      }

      &--orange {
        color: $palette-orange;
      }
    }

    &__item {
      padding: 0.75rem 0;
      color: white;
    }
  }
}

.more {
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;

  &__header {
    color: white;
    padding-bottom: 1rem;
  }

  &-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &-list-item {
    min-width: 200px;
    padding-bottom: 1rem;
    &__header {
      color: white;
      font-size: 13px;
      font-weight: bold;
      padding-bottom: 0.25rem;
    }

    &__text {
      color: white;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.25rem;
    }
  }
}

.fade-effect {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), $palette-purple);
  width: 20px;
  height: 90%;
  z-index: 999;
}

.hidden {
  display: none;
}

// medium screen sizes
@media (min-width: 1024px) {
  // Navbar container styling
  .nav {
    position: absolute;
    // TODO: Dropdown menu for smaller screens
    // Menu button is not visible for larger screens
    &__menu {
      display: none;
    }

    &__dropdown {
      display: none;
    }

    // Navbar link list
    // Make link list visible in replacement of menu dropdown button
    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      &:first-child {
        padding-left: 0;
      }
    }

    //Navbar middle container
    // Make middle container containing link list visible
    &__middle {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    //Navbar container for account navigation
    // Make account navigation visible
    &__end {
      display: flex;
      align-items: center;
      flex-grow: 0;
      width: 14.1rem;
    }

    &__bottom {
      // position: absolute;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.9);
      width: 100%;
      transition: all 0.3s ease;
    }

    &__bottom.stick {
      position: fixed;
      top: 0;
      z-index: 999;
    }

    &__bottom.show {
      transform: translateY(0);
    }

    &__bottom.hide {
      transform: translateY(-100%);
    }
  }

  .hidden {
    display: none;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 90%;
    z-index: 10;
    background-color: white;
    height: 260px;

    &__container {
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;
    }

    &__header {
      font-size: 1.1rem;
      padding-bottom: 1rem;
    }

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__item,
    &__item:visited {
      padding-right: 1rem;
      text-decoration: none;
      color: black;
      font-size: 14px;
    }

    &__item--width {
      flex: 1;
    }

    &__item--orange,
    &__item--orange:visited {
      text-decoration: none;
      color: $palette-orange;
    }

    &-item__header {
      font-weight: bold;
      padding-right: 1rem;
      padding-bottom: 0.25rem;
    }

    &-item__text {
      font-weight: normal;
      line-height: 1.5rem;
      padding-right: 2rem;
    }
  }
}

// Larger screens
@media screen and (min-width: 1280px) {
  // Navbar styling
  .nav {
    // Navbar top container
    // increase x-padding for larger font-size
    &__top {
      padding: 1rem 1rem;
    }

    // Navbar link list
    // increase gap for larger font-size
    &__list {
      gap: 0.5rem;
    }

    // Navbar links
    // increase font-size for links
    &__item {
      padding: 0rem 0.5rem;
      font-size: 19px;
      &:visited {
        padding: 2rem 0.75rem;
        text-decoration: none;
      }
      &--small {
        font-size: 15px;

        &--orange,
        &--orange:visited {
          font-size: 15px;
          padding-left: 2rem;
        }
      }
    }

    // Navbar container for account navigation
    // adjust width for larger font-size
    &__end {
      width: 17rem;
    }
  }

  .hidden {
    padding: 0rem 2rem;
    padding-top: 2rem;
    height: 260px;

    &__container {
      padding-bottom: 3rem;
    }

    &__header {
      font-size: 1.1rem;
      padding-bottom: 1rem;
    }

    &__item,
    &__item:visited {
      padding-right: 1rem;
      text-decoration: none;
      color: black;
      font-size: 17px;
    }

    &__item--width {
    }

    &__item--orange,
    &__item--orange:visited {
      text-decoration: none;
      color: $palette-orange;
    }

    &-item__header {
      font-weight: bold;
      padding-right: 1rem;
      padding-bottom: 0.25rem;
    }

    &-item__text {
      font-weight: normal;
      line-height: 1.5rem;
      padding-right: 2rem;
    }
  }
}
