@use "variables" as *;

.hero {
  z-index: 0;
  padding: 0 7.5vw;
  width: 84%;
  height: 100vh;
  overflow: hidden;

  &__image {
    width: 99%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    color: $palette-orange;
    font-size: 60px;
    position: absolute;
    top: 62%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

.about-us {
  padding: 7.5rem 7.5vw;

  &__heading {
    line-height: 1.5rem;
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }

  &__desc {
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 0.75rem;
    padding-bottom: 1.5rem;
  }

  &__link,
  &__link:visited {
    color: $palette-purple;
    text-decoration: none;
  }
}

.video {
  padding: 0 7.5vw;

  &__embed {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: center;
    display: block;
  }

  &__caption {
    font-size: 12px;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 120px;
  }

  .about-us {
    padding: 7.5rem 17vw;
  }

    .video {
    padding: 0 17vw;
  }
}

@media screen and (min-width: 1124px) {
  .about-us {
    &__heading {
      line-height: 2rem;
      font-size: 1.4rem;
    }

    &__desc {
      line-height: 1.5rem;
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    padding: 7.5rem 25vw;
  }

  .video {
    padding: 0 25vw;
  }
}
