@charset "UTF-8";
.image-block1 {
  position: relative;
  display: flex;
}
.image-block1__background {
  margin-left: auto;
  background-color: #fbffa7;
  aspect-ratio: 1/1;
  width: 57.25vw;
}
.image-block1__left {
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translate(0%, -50%);
  width: 42.5vw;
  aspect-ratio: 1/1;
}
.image-block1__right {
  position: absolute;
  top: 50%;
  right: 7.5%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}

.image-block2 {
  position: relative;
}
.image-block2__background {
  background-color: #b6ffc0;
  aspect-ratio: 1/1.25;
  width: 57.25vw;
  margin-right: auto;
}
.image-block2__top-left {
  position: absolute;
  top: 27.5%;
  left: 7.6%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}
.image-block2__bottom-left {
  position: absolute;
  top: 72.5%;
  left: 7.6%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}
.image-block2__right {
  position: absolute;
  top: 50%;
  right: 7.5%;
  transform: translate(0%, -50%);
  width: 42.5vw;
  aspect-ratio: 1/1;
}

.image-block3 {
  padding: 0 7.5vw;
}
.image-block3__img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  aspect-ratio: 1/0.55;
}

.image-block4 {
  position: relative;
  padding: 0 7.5vw;
}
.image-block4__background {
  background-color: #d5b3ff;
  aspect-ratio: 1/0.875;
  width: 66vw;
  margin: auto;
  align-items: center;
}
.image-block4__left {
  position: absolute;
  top: 50%;
  left: 7.6%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}
.image-block4__right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  width: 40vw;
  aspect-ratio: 1/1.1;
}

.image-block5 {
  padding: 0 7.5vw;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  width: 84%;
  align-items: stretch;
}
.image-block5__left {
  width: 84vw;
  aspect-ratio: 2/1.25;
  overflow: hidden;
}
.image-block5__left__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* ✅ fills while keeping ratio */
  display: block;
}
.image-block5__right {
  width: 84vw;
  background-color: #b1c5ff;
}
.image-block5__right-block {
  margin: 10vw 8vw;
}
.image-block5__right__text {
  font-size: 17px;
  line-height: 2rem;
  padding-bottom: 1rem;
}
.image-block5__right__link, .image-block5__right__link:visited {
  font-size: 17px;
  text-decoration: none;
  color: #0000ff;
}
.image-block5__right__arrow {
  width: 15px;
  fill: #0000ff;
}

@media screen and (min-width: 1124px) {
  .image-block5__right__text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  .image-block5__right__link, .image-block5__right__link:visited {
    font-size: 1.4rem;
  }
  .image-block5__right__arrow {
    width: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .image-block5 {
    display: flex;
    flex-direction: row;
  }
  .image-block5__left {
    width: 42vw;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .image-block5__left__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; /* ✅ fills while keeping ratio */
    display: block;
  }
  .image-block5__right {
    width: 42vw;
  }
}/*# sourceMappingURL=body-image.css.map */