// Body styling sheet, for media such as images and video

// Import color scheme
@use "variables" as *;

// Smaller screens first
// Second image container, hero container is first FYI
.image-block1 {
  position: relative;
  display: flex;

  // background used for color
  &__background {
    margin-left: auto;
    background-color: $palette-yellow;
    aspect-ratio: 1/1;
    width: 57.25vw;
  }

  // left image, larger
  &__left {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translate(0%, -50%);
    width: 42.5vw;
    aspect-ratio: 1/1;
  }

  // right image, smaller
  &__right {
    position: absolute;
    top: 50%;
    right: 7.5%;
    transform: translate(0%, -50%);
    width: 34vw;
    aspect-ratio: 1/0.725;
  }
}

// Third image container
.image-block2 {
  position: relative;

  // background for color
  &__background {
    background-color: $palette-green;
    aspect-ratio: 1/1.25;
    width: 57.25vw;
    margin-right: auto;
  }

  // top left image, smaller
  &__top-left {
    position: absolute;
    top: 27.5%;
    left: 7.6%;
    transform: translate(0%, -50%);
    width: 34vw;
    aspect-ratio: 1/0.725;
  }

  // bottom left image, smaller
  &__bottom-left {
    position: absolute;
    top: 72.5%;
    left: 7.6%;
    transform: translate(0%, -50%);
    width: 34vw;
    aspect-ratio: 1/0.725;
  }

  // right image, larger
  &__right {
    position: absolute;
    top: 50%;
    right: 7.5%;
    transform: translate(0%, -50%);
    width: 42.5vw;
    aspect-ratio: 1/1;
  }
}

// Fourth image container
.image-block3 {
  padding: 0 7.5vw;

  // Full image
  &__img {
    width: 100%;
    object-fit: fill;
    aspect-ratio: 1/0.55;
  }
}

// Fifth image container
.image-block4 {
  position: relative;
  padding: 0 7.5vw;

  // color background
  &__background {
    background-color: $palette-pink;
    aspect-ratio: 1/0.875;
    width: 66vw;
    margin: auto;
    align-items: center;
  }

  // left image, smaller
  &__left {
    position: absolute;
    top: 50%;
    left: 7.6%;
    transform: translate(0%, -50%);
    width: 34vw;
    aspect-ratio: 1/0.725;
  }

  // right image, larger
  &__right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 40vw;
    aspect-ratio: 1/1.1;
  }
}

// image and article container
// starts off with flex-direction: column
.image-block5 {
  padding: 0 7.5vw;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  width: 84%;
  align-items: stretch;

  // left container, or top container for this screen size
  &__left {
    width: 84vw;
    aspect-ratio: 2/1.25;
    overflow: hidden;

    // left image
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* ✅ fills while keeping ratio */
      display: block;
    }
  }

  // right container for color, or bottom container for this screen size
  &__right {
    width: 84vw;
    background-color: $palette-paleblue;

    // right container
    &-block {
      margin: 10vw 8vw;
    }

    // right article
    &__text {
      font-size: 17px;
      line-height: 2rem;
      padding-bottom: 1rem;
    }

    // right article links
    &__link,
    &__link:visited {
      font-size: 17px;
      text-decoration: none;
      color: $palette-purple;
    }

    // part of right article links
    &__arrow {
      width: 15px;
      fill: $palette-purple;
    }
  }
}

// Medium size screens
@media screen and (min-width: 1124px) {
  // article and image container
  .image-block5 {
    // right container, or bottom container for smaller screens
    &__right {

      // right article
      // increase font-size
      &__text {
        font-size: 1.4rem;
        line-height: 2rem;
        padding-bottom: 1rem;
      }

      // right article links
      // increase font-size
      &__link,
      &__link:visited {
        font-size: 1.4rem;
      }

      // right article link arrow
      // increase size
      &__arrow {
        width: 20px;
      }
    }
  }
}

// Larger screens
@media screen and (min-width: 1280px) {
  // article and image container
  // change to flex-direction row
  .image-block5 {
    display: flex;
    flex-direction: row;

    // left container
    // change width
    &__left {
      width: 42vw;
      aspect-ratio: 1/1;
      overflow: hidden;

      // left image
      // contain image in container
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* ✅ fills while keeping ratio */
        display: block;
      }
    }

    // right container
    // change width
    &__right {
      width: 42vw;
    }
  }
}
