.footer {
  border-top: 2px solid rgb(230, 229, 229);
  padding: 7rem 7.5vw 2.5rem 7.5vw;
  line-height: 1.5rem;
}
.footer section {
  padding-bottom: 4rem;
}
.footer__title {
  font-size: 3rem;
  padding-bottom: 1rem;
}
.footer__section {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  width: 25vw;
  justify-content: start;
}
.footer__section__text {
  font-weight: normal;
}
.footer__section:last-child {
  max-width: 100vw;
  flex-grow: 1;
}
.footer__section__selects {
  padding-top: 0.5rem;
}
.footer__middle {
  display: flex;
}
.footer__link {
  font-weight: normal;
  color: black;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.footer__link__link:visited {
  color: black;
  text-decoration: none;
}
.footer__link--small, .footer__link--small:visited {
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.footer__link__arrow {
  width: 16px;
  align-items: center;
  height: auto;
}
.footer__bottom {
  display: flex;
}
.footer__bottom__start {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.footer__bottom__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  gap: 1rem;
}
.footer__bottom__end {
  display: flex;
  flex-grow: 0;
  align-items: center;
}
.footer__bottom__end__text {
  font-size: 12px;
  padding-right: 1rem;
}
.footer__icon {
  width: 29px;
}
.footer__icon--rotated {
  rotate: 90deg;
}
.footer__socials {
  padding-top: 1rem;
}
.footer__socials__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  gap: 0.75rem;
}

.sign-up {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}
.sign-up__email {
  flex-grow: 1;
  font-size: 19px;
  font-family: "Urbanist", sans-serif;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
}
.sign-up__email:focus {
  border: 2px solid black;
}
.sign-up__button {
  background-color: #0000ff;
  color: white;
  font-size: 19px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  padding: 0 1.5rem;
  border: none;
  margin-left: -2px;
  -o-object-fit: fill;
     object-fit: fill;
  height: 2.5rem;
}
.sign-up__link {
  flex-grow: 0;
}

.select {
  font-size: 12px;
  font-family: "Urbanist", sans-serif;
  padding: 0 0.5rem;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  width: 6rem;
  padding-right: 1rem;
  height: 1.5rem;
  font-weight: bold;
}
.select--grow {
  width: 11rem;
}

.social-links,
.social-links:visited {
  color: none;
}

.fa-facebook {
  font-size: 1rem;
  color: #1877f2;
}

.fa-x-twitter {
  font-size: 1rem;
  color: black;
}

.fa-youtube {
  font-size: 1rem;
  color: #cd201f;
}

.fa-instagram {
  font-size: 1rem; /* adjust size */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-tiktok {
  font-size: 1rem;
  color: black;
  text-shadow: -2px 0px 4px #25f4ee, 2px 0px 4px #fe2c55; /* pink/red glow */
}

.fa-discord {
  font-size: 1rem;
  color: #7289da;
}

@media screen and (min-width: 1280px) {
  .fa-facebook {
    font-size: 1.5rem;
  }
  .fa-x-twitter {
    font-size: 1.5rem;
  }
  .fa-youtube {
    font-size: 1.5rem;
  }
  .fa-instagram {
    font-size: 1.5rem; /* adjust size */
  }
  .fa-tiktok {
    font-size: 1.5rem;
  }
  .fa-discord {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=footer.css.map */