// Header styling sheet

//Import color scheme
@use "variables" as *;

//smallest screens first
// Navbar styling
.nav {
  position: relative;
  width: 100%;
  background-color: rgba(0,0,0,0);

  // Top navbar section container
  &__top {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px solid rgb(230, 229, 229);
    padding: 1rem 0rem;
  }

  // TODO: dropdown styling for smaller screens
  &__dropdown {
    position: absolute;
    z-index: 9;
    top: -500px;
    width: 100%;
    height: 500px;
    background-color: $palette-purple;
  }

  // Navbar home icon container
  &__start {
    padding-left: 1rem;
    width: 4.5rem;
    min-width: 4.5rem;
    flex-grow: 0;
  }

  // Navbar home icon
  &__icon {
    width: 29px;

    &--rotated {
      rotate: 90deg;
    }
  }

  // Navbar middle list container
  // Not visible on smaller screens
  &__middle {
    display: none;
  }

  // TODO: dropdown menu button styling for smaller screen
  &__menu {
    display: flex;

    &__button {
      background-color: white;
      font-size: 19px;
      font-family: "Urbanist", sans-serif;
      font-weight: bold;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      border: none;
      object-fit: fill;
      cursor: pointer;
    }
  }

  // Navbar account navigation container
  // Not visible on smaller screens
  &__end {
    display: none;
  }

  // Navbar bottom container
  &__bottom {
    z-index: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 1.75rem;
    padding: 1rem 0rem;
    align-items: center;
    overflow: auto;
    overflow-y: hidden;
  }

  // Navbar links
  &__item {
    padding: 0rem 0.5rem;
    text-decoration: none;
    font-size: 15px;
    color: black;

    &:visited {
      padding: 0rem 0.5rem;
      text-decoration: none;
    }

    &--purple,
    &--purple:visited {
      color: $palette-purple;
    }

    &--orange,
    &--orange:visited {
      color: $palette-orange;
    }

    &--small {
      font-size: 12px;

      &--orange,
      &--orange:visited {
        font-size: 12px;
        color: $palette-orange;
        padding-left: 1rem;
      }
    }
  }
}

// medium screen sizes
@media (min-width: 1024px) {
  // Navbar container styling
  .nav {
    // TODO: Dropdown menu for smaller screens
    // Menu button is not visible for larger screens
    &__menu {
      display: none;
    }

    // Navbar link list
    // Make link list visible in replacement of menu dropdown button
    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      &:first-child {
        padding-left: 0;
      }
    }

    //Navbar middle container
    // Make middle container containing link list visible
    &__middle {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }

    //Navbar container for account navigation
    // Make account navigation visible
    &__end {
      display: flex;
      align-items: center;
      flex-grow: 0;
      width: 14.1rem;
    }
  }
}

// Larger screens
@media screen and (min-width: 1280px) {
  // Navbar styling
  .nav {
    // Navbar top container
    // increase x-padding for larger font-size
    &__top {
      padding: 1rem 1rem;
    }

    // Navbar link list
    // increase gap for larger font-size
    &__list {
      gap: 0.5rem;
    }

    // Navbar links
    // increase font-size for links
    &__item {
      padding: 0rem 0.5rem;
      font-size: 19px;
      &:visited {
        padding: 2rem 0.75rem;
        text-decoration: none;
      }
      &--small {
        font-size: 15px;

        &--orange,
        &--orange:visited {
          font-size: 15px;
          padding-left: 2rem;
        }
      }
    }

    // Navbar container for account navigation
    // adjust width for larger font-size
    &__end {
      width: 17rem;
    }
  }
}
