@import './variables';

.nav {
  width: 100%;
  z-index: 999;
//   background-color: rgba($color: white, $alpha: .70);

  &__top {
    display: flex;
    flex-direction: row;
    height: 1.75rem;
    border-bottom: 2px solid rgb(230, 229, 229);
    padding: 1rem 1rem;
  }

  &__start {
    padding-left: 1rem;
    width: 4.5rem;
    min-width: 4.5rem;
    flex-grow: 0;
  }

  &__icon {
    width: 29px;

    &--rotated {
      rotate: 90deg;
    }
  }

  &__middle {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    &:first-child {
      padding-left: 0;
    }
  }

  &__item {
    padding: 2rem .75rem;
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &--orange, &--orange:visited {
        color: $palette-orange;
    }

    &--purple, &--purple:visited{
      color: $palette-purple;
    }

    &--small {
      font-size: 15px;
    }
  }

  &__end {
    display: flex;
    align-items: center;
    flex-grow: 0;
    width: 20rem;
  }

  &__bottom {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 1.75rem;
    width: 100%;
    padding: 1rem 0rem;
    align-items: center;
  }
}