@charset "UTF-8";
.nav {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.nav__top {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 2px solid rgb(230, 229, 229);
  padding: 1rem 0rem;
}
.nav__dropdown {
  position: absolute;
  z-index: 9;
  top: -500px;
  width: 100%;
  height: 500px;
  background-color: #0000ff;
}
.nav__start {
  padding-left: 1rem;
  width: 4.5rem;
  min-width: 4.5rem;
  flex-grow: 0;
}
.nav__icon {
  width: 29px;
}
.nav__icon--rotated {
  rotate: 90deg;
}
.nav__middle {
  display: none;
}
.nav__menu {
  display: flex;
}
.nav__menu__button {
  background-color: white;
  font-size: 19px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border: none;
  object-fit: fill;
  cursor: pointer;
}
.nav__end {
  display: none;
}
.nav__bottom {
  z-index: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  height: 1.75rem;
  padding: 1rem 0rem;
  align-items: center;
  overflow: auto;
  overflow-y: hidden;
}
.nav__item {
  padding: 0rem 0.5rem;
  text-decoration: none;
  font-size: 15px;
  color: black;
}
.nav__item:visited {
  padding: 0rem 0.5rem;
  text-decoration: none;
}
.nav__item--purple, .nav__item--purple:visited {
  color: #0000ff;
}
.nav__item--orange, .nav__item--orange:visited {
  color: #ff764d;
}
.nav__item--small {
  font-size: 12px;
}
.nav__item--small--orange, .nav__item--small--orange:visited {
  font-size: 12px;
  color: #ff764d;
  padding-left: 1rem;
}

@media (min-width: 1024px) {
  .nav__menu {
    display: none;
  }
  .nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nav__list:first-child {
    padding-left: 0;
  }
  .nav__middle {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  .nav__end {
    display: flex;
    align-items: center;
    flex-grow: 0;
    width: 14.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__top {
    padding: 1rem 1rem;
  }
  .nav__list {
    gap: 0.5rem;
  }
  .nav__item {
    padding: 0rem 0.5rem;
    font-size: 19px;
  }
  .nav__item:visited {
    padding: 2rem 0.75rem;
    text-decoration: none;
  }
  .nav__item--small {
    font-size: 15px;
  }
  .nav__item--small--orange, .nav__item--small--orange:visited {
    font-size: 15px;
    padding-left: 2rem;
  }
  .nav__end {
    width: 17rem;
  }
}
.hero {
  z-index: 0;
  padding: 0 7.5vw;
  width: 84%;
  height: 100vh;
  overflow: hidden;
}
.hero__image {
  width: 99%;
  height: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
}
.hero__title {
  color: #ff764d;
  font-size: 60px;
  position: absolute;
  top: 62%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.about-us {
  padding: 7.5rem 7.5vw;
}
.about-us__heading {
  line-height: 1.5rem;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}
.about-us__desc {
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  padding-bottom: 1.5rem;
}
.about-us__link, .about-us__link:visited {
  color: #0000ff;
  text-decoration: none;
}

.video {
  padding: 0 7.5vw;
}
.video__embed {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  position: relative;
  object-position: center;
  display: block;
}
.video__caption {
  font-size: 12px;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 120px;
  }
  .about-us {
    padding: 7.5rem 17vw;
  }
  .video {
    padding: 0 17vw;
  }
}
@media screen and (min-width: 1124px) {
  .about-us__heading {
    line-height: 2rem;
    font-size: 1.4rem;
  }
  .about-us__desc {
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-us {
    padding: 7.5rem 25vw;
  }
  .video {
    padding: 0 25vw;
  }
}
.image-block1 {
  position: relative;
  display: flex;
}
.image-block1__background {
  margin-left: auto;
  background-color: #fbffa7;
  aspect-ratio: 1/1;
  width: 57.25vw;
}
.image-block1__left {
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translate(0%, -50%);
  width: 42.5vw;
  aspect-ratio: 1/1;
}
.image-block1__right {
  position: absolute;
  top: 50%;
  right: 7.5%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}

.image-block2 {
  position: relative;
}
.image-block2__background {
  background-color: #b6ffc0;
  aspect-ratio: 1/1.25;
  width: 57.25vw;
  margin-right: auto;
}
.image-block2__top-left {
  position: absolute;
  top: 27.5%;
  left: 7.6%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}
.image-block2__bottom-left {
  position: absolute;
  top: 72.5%;
  left: 7.6%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}
.image-block2__right {
  position: absolute;
  top: 50%;
  right: 7.5%;
  transform: translate(0%, -50%);
  width: 42.5vw;
  aspect-ratio: 1/1;
}

.image-block3 {
  padding: 0 7.5vw;
}
.image-block3__img {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 1/0.55;
}

.image-block4 {
  position: relative;
  padding: 0 7.5vw;
}
.image-block4__background {
  background-color: #d5b3ff;
  aspect-ratio: 1/0.875;
  width: 66vw;
  margin: auto;
  align-items: center;
}
.image-block4__left {
  position: absolute;
  top: 50%;
  left: 7.6%;
  transform: translate(0%, -50%);
  width: 34vw;
  aspect-ratio: 1/0.725;
}
.image-block4__right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  width: 40vw;
  aspect-ratio: 1/1.1;
}

.image-block5 {
  padding: 0 7.5vw;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  width: 84%;
  align-items: stretch;
}
.image-block5__left {
  width: 84vw;
  aspect-ratio: 2/1.25;
  overflow: hidden;
}
.image-block5__left__image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ✅ fills while keeping ratio */
  display: block;
}
.image-block5__right {
  width: 84vw;
  background-color: #b1c5ff;
}
.image-block5__right-block {
  margin: 10vw 8vw;
}
.image-block5__right__text {
  font-size: 17px;
  line-height: 2rem;
  padding-bottom: 1rem;
}
.image-block5__right__link, .image-block5__right__link:visited {
  font-size: 17px;
  text-decoration: none;
  color: #0000ff;
}
.image-block5__right__arrow {
  width: 15px;
  fill: #0000ff;
}

@media screen and (min-width: 1124px) {
  .image-block5__right__text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  .image-block5__right__link, .image-block5__right__link:visited {
    font-size: 1.4rem;
  }
  .image-block5__right__arrow {
    width: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .image-block5 {
    display: flex;
    flex-direction: row;
  }
  .image-block5__left {
    width: 42vw;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .image-block5__left__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ✅ fills while keeping ratio */
    display: block;
  }
  .image-block5__right {
    width: 42vw;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(230, 229, 229);
  padding: 7rem 7.5vw 2.5rem 7.5vw;
  line-height: 1.25rem;
}
.footer section {
  padding-bottom: 0rem;
}
.footer__title {
  font-size: 2rem;
  padding-bottom: 2.5rem;
}
.footer__section {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  width: 84vw;
  justify-content: start;
  margin-bottom: 2rem;
}
.footer__section__title {
  font-size: 14px;
}
.footer__section__text {
  font-size: 14px;
  font-weight: normal;
}
.footer__section__selects {
  padding-top: 0.5rem;
}
.footer__section:nth-child(3) {
  order: 1;
}
.footer__section:nth-child(2) {
  order: 3;
}
.footer__section:nth-child(1) {
  order: 2;
}
.footer__middle {
  display: flex;
  flex-direction: column;
}
.footer__link {
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.footer__link__link:visited {
  color: black;
  text-decoration: none;
}
.footer__link--small, .footer__link--small:visited {
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.footer__link__arrow {
  width: 16px;
  align-items: center;
  height: auto;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__bottom__start {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.footer__bottom__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.footer__bottom__end {
  display: flex;
  flex-grow: 0;
  align-items: center;
}
.footer__bottom__end__text {
  font-size: 12px;
  padding-right: 1rem;
}
.footer__icon {
  width: 29px;
}
.footer__icon--rotated {
  rotate: 90deg;
}
.footer__socials {
  padding-top: 1rem;
}
.footer__socials__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  gap: 0.5rem;
}

.sign-up {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}
.sign-up__email {
  flex-grow: 1;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  padding: 0rem 1rem;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
}
.sign-up__email:focus {
  border: 2px solid black;
}
.sign-up__button {
  background-color: #0000ff;
  color: white;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  padding: 0 1.5rem;
  border: none;
  margin-left: -2px;
  object-fit: fill;
  height: 1.75rem;
}
.sign-up__link {
  flex-grow: 0;
}

.select {
  font-size: 12px;
  font-family: "Urbanist", sans-serif;
  padding: 0 0.5rem;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  width: 6rem;
  padding-right: 1rem;
  height: 1.5rem;
  font-weight: bold;
}
.select--grow {
  width: 11rem;
}

.social-links,
.social-links:visited {
  color: none;
}

.fa-facebook {
  font-size: 1.5rem;
  color: #1877f2;
}

.fa-x-twitter {
  font-size: 1.5rem;
  color: black;
}

.fa-youtube {
  font-size: 1.5rem;
  color: #cd201f;
}

.fa-instagram {
  font-size: 1.5rem; /* adjust size */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-tiktok {
  font-size: 1.5rem;
  color: black;
  text-shadow: -2px 0px 4px #25f4ee, 2px 0px 4px #fe2c55; /* pink/red glow */
}

.fa-discord {
  font-size: 1.25rem;
  color: #7289da;
}

.item1 {
  order: 3;
  padding-left: 0.75rem;
}

.item2 {
  order: 1;
}

.item3 {
  order: 2;
}

@media screen and (min-width: 1024px) {
  .footer__title {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .footer section {
    padding-bottom: 4rem;
  }
  .footer__middle {
    flex-direction: row;
  }
  .footer__section {
    width: 24vw;
    margin-bottom: 0rem;
  }
  .footer__section:nth-child(3) {
    order: 3;
  }
  .footer__section:nth-child(2) {
    order: 2;
  }
  .footer__section:nth-child(1) {
    order: 1;
  }
  .footer__section:last-child {
    max-width: 100vw;
    flex-grow: 1;
  }
  .footer__bottom {
    flex-direction: row;
    gap: 0;
  }
  .footer__bottom__list {
    text-align: center;
    flex-direction: row;
    gap: 1rem;
  }
  .fa-brands {
    font-size: 1.25rem;
  }
  .item1 {
    order: 1;
    padding-left: 0rem;
  }
  .item2 {
    order: 2;
  }
  .item3 {
    order: 3;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    line-height: 1.5rem;
  }
  .footer__section__title {
    font-size: 19px;
  }
  .footer__link {
    font-size: 19px;
  }
  .footer__link__arrow {
    width: 16px;
  }
  .footer__link--small {
    font-size: 12px;
  }
  .footer__link--small:visited {
    font-size: 12px;
  }
  .footer__link:visited {
    font-size: 19px;
  }
  .footer__socials__list {
    gap: 0.75rem;
  }
  .sign-up__email {
    font-size: 19px;
    padding: 0.5rem 1rem;
  }
  .sign-up__button {
    font-size: 19px;
    padding: 0 1.5rem;
    height: 2.5rem;
  }
  .fa-brands {
    font-size: 1.5rem;
  }
}
:root {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 19px;
}

/*# sourceMappingURL=styles.css.map */
